<body>

  <h1>My Calculator</h1>>
  <h4>Add</h4>
  <div>
    <input [(ngModel)]="n" type="number"> + 
    <input [(ngModel)]="m" type="number"> | 
    <button (click)="add()">Add</button> | 
    <label>Answer: {{ans}}</label>
  </div>
  <h4>Subtract</h4>
  <div>
    <input [(ngModel)]="x" type="number"> -
    <input [(ngModel)]="y" type="number"> |
    <button (click)="subtract()">Subtract</button>
    <label>Answer: {{ans2}}</label>
  </div>
  <h4>Multiply</h4>
  <div>
    <input [(ngModel)]="a" type="number"> *
    <input [(ngModel)]="b" type="number"> |
    <button (click)="multiply()">Multiply</button>
    <label>Answer: {{ans3}}</label>
  </div>
  <h4>Divide</h4>
  <div>
    <input [(ngModel)]="j" type="number"> /
    <input [(ngModel)]="k" type="number"> |
    <button (click)="divide()">Divide</button>
    <label>Answer: {{ans4}}</label>
  </div>
</body>
 
